@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import 'augmented-ui/augmented-ui.min.css';

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

:root {
  font-family: 'Share Tech Mono', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-background: var(--background-color);
  --color-uilines: var(--uilines-color);
  --color-uitext: var(--uitext-color);

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.orbitron {
  font-family: "Orbitron", sans-serif;
  font-weight: 800;
  font-optical-sizing: auto;
  font-style: normal;
}

.scrollbar {
  overflow-y: scroll;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar::-webkit-scrollbar {
  display: none; 
}

@keyframes warningLines {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

.warning-sign2 {
  background: repeating-linear-gradient(
    45deg,
    var(--color-uilines),
    var(--color-uilines) 10px,
    black 10px,
    black 20px
  );
}

.warning-sign3 {
  background: repeating-linear-gradient(
    45deg,
    var(--color-uilines),
    var(--color-uilines) 19px,
    black 19px,
    black 25px
  );
}

.warning-sign-animated {
  background: repeating-linear-gradient(
    -45deg,
    white,
    white 10px,
    black 10px,
    black 20px
  );
  animation: warningLines 10s linear infinite;
}

.aug-border-yellow-500 {
  --aug-border-bg: var(--color-uilines);
  --aug-border-all: 1px;
}

@layer components {
  .list-selecting {
    @apply w-full bg-transparent hover:bg-uilines hover:text-neutral-900 hover:pl-0 cursor-pointer;
  }
}